/* reset */
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header */
body {
  width: 980px;
  margin: 10px auto;
} 
#main_header {
  position: relative;
}
.header_menu {
  position: absolute;
  right: 0;
  top: 10px;
}
.header_menu a {
  color: black;
  margin-left: 20px;
}

/* Navigation Top */
#nav_top {
  position: absolute;
  top: 70px;
  overflow: hidden;
}
#nav_top .menu {
  width: 140px;
  height: 50px;
  float: left;

  background: url('/coupang/img/css_sprites_top.png');
  text-indent: -9999px;
}
/* Nav_top Mouse : Hover before */
#nav_top .item1 {
  background-position: 0 0;
}
#nav_top .item2 {
  background-position: 0 -50px;
}
#nav_top .item3 {
  background-position: 0 -100px;
}
#nav_top .item4 {
  background-position: 0 -150px;
}
#nav_top .item5 {
  background-position: 0 -200px;
}
#nav_top .item6 {
  background-position: 0 -250px;
}
#nav_top .item7 {
  background-position: 0 -300px;
}

/* Nav_top Mouse : Hover after */
#nav_top .item1:hover {
  background-position: 0 -350px;
}
#nav_top .item2:hover {
  background-position: 0 -400px;
}
#nav_top .item3:hover {
  background-position: 0 -450px;
}
#nav_top .item4:hover {
  background-position: 0 -500px;
}
#nav_top .item5:hover {
  background-position: 0 -550px;
}
#nav_top .item6:hover {
  background-position: 0 -600px;
}
#nav_top .item7:hover {
  background-position: 0 -650px;
}

/* Navigation Bottom */
#nav_bottom {
  position: absolute;
  top: 120px;
  overflow: hidden;
}
#nav_bottom .menu {
  width: 98px;
  height: 80px;
  float: left;

  background: url('/coupang/img/css_sprites_bottom.png');
  text-indent: -9999px;
}

/* Nav_bottom Mouse : Hover before */
#nav_bottom .item1 {
  background-position: 0 0;
}
#nav_bottom .item2 {
  background-position: 0 -80px;
}
#nav_bottom .item3 {
  background-position: 0 -160px;
}
#nav_bottom .item4 {
  background-position: 0 -240px;
}
#nav_bottom .item5 {
  background-position: 0 -320px;
}
#nav_bottom .item6 {
  background-position: 0 -400px;
}
#nav_bottom .item7 {
  background-position: 0 -480px;
}
#nav_bottom .item8 {
  background-position: 0 -560px;
}
#nav_bottom .item9 {
  background-position: 0 -640px;
}
#nav_bottom .item10 {
  background-position: 0 -720px;
}

/* Nav_bottom Mouse : Hover before */
#nav_bottom .item1:hover {
  background-position: 0 -800px;
}
#nav_bottom .item2:hover {
  background-position: 0 -880px;
}
#nav_bottom .item3:hover {
  background-position: 0 -960px;
}
#nav_bottom .item4:hover {
  background-position: 0 -1040px;
}
#nav_bottom .item5:hover {
  background-position: 0 -1120px;
}
#nav_bottom .item6:hover {
  background-position: 0 -1200px;
}
#nav_bottom .item7:hover {
  background-position: 0 -1280px;
}
#nav_bottom .item8:hover {
  background-position: 0 -1440px;
}
#nav_bottom .item9:hover {
  background-position: 0 -1520px;
}
#nav_bottom .item10:hover {
  background-position: 0 -1360px;
}

/* Aside */
#main_aside {
  position: absolute;
  top: 70px;
  right: 200px;
}
#main_aside a {
  display: block;
  margin-bottom: 10px;
}

/* Detail List */
#detail_list {
  width: 980px;
  background-color: black;
  color: white;

  position: absolute;
  top: 200px;
}
#detail_list .column1 {
  float: left;
  text-align: center;
  width: 196px;
}
#detail_list .column2 {
  float: left;
  text-align: center;
  width: 196px;
}
#detail_list .column3 {
  float: left;
  text-align: center;
  width: 196px;
}
#detail_list .column4 {
  float: left;
  text-align: center;
  width: 196px;
}
#detail_list .column5 {
  float: left;
  text-align: center;
  width: 196px;
}
#detail_list li {
  margin: 10px;
  padding: 3px;
}
.li_header {
  color: #48c5ff;
  font-weight: 900;
}

/* Content */
.product_img {
  position: absolute;
  top: 520px;
}
#product_article {
  position: absolute;
  top: 925px;
}
#product_aside {
  position: absolute;
  top: 925px;
  right: 0px;
}
#product_aside img {
  width: 170px;
}